@import url('https://fonts.googleapis.com/css2?family=McLaren&display=swap');

.boxed{
  height:50px;
  width: 170px;
  color: #d9cc3f;
  text-shadow: 3px 3px 20px #d9cc3f;
  border: 10px outset #8c9da3;
  border-radius: 10px;
  position: absolute;
  font-family: McLaren, cursive;
  font-size: 25px;
  padding: 10px;
  padding-left: 18px;
  margin-top: -75px;
  font-weight: bold;

}
