@import url('https://fonts.googleapis.com/css2?family=McLaren&display=swap');


img{
  height: 420px;
  width: 960px;
  border-radius: 8px;
}

.bdhome{
  height: 610px;
  position: absolute;
  display: block;
  margin-top: -500px;
  margin-left: -688px;

}

.btn{
  height: 40px;
  width: 160px;
  background: white;
  opacity: 0.9;
  border-radius: 10px;
  font-family: McLaren, cursive;
  text-align: center;
  margin-top: 340px;
  padding-top: 5px;
  margin-left: 750px;
  position: absolute;
  font-size: 22px;
  font-weight: bold;
}

.des{
  background: linear-gradient(to bottom, black,#222733,black);
  height:100%;
  width:100%;
  position: absolute;
  top:540px;
}
.bck{
  background: black;
  position: fixed;
  height: 800px;
  width: 800px;
}

.btn:hover{
  cursor: pointer;
  opacity: 1;
}

.boxbck{
  margin-top:-38px;
background: black;
height: 1800px;
width: 1300px;

}

.nav{
background: #000;
  height: 53px;
  width: 84%;
  position: fixed;
  margin-top: -52px;
  margin-left: 0px;
}

#navbox{
  background:black;
  height: 680px;
  width: 220px;
  position: fixed;
  top: 53px;
  padding: 3px;
  right: 2px;
  opacity:1;
  margin-top:-55px;
}

.carcont{
  height: 600px;
  width: 1028px;
  position: absolute;
  margin-top: 0px;
  margin-left: 10px;
}

.bx1{
  background: #1d2354;
  height: 460px;
  width: 1000px;
  margin-top: 22px;
  margin-left: 20px;
  border-radius: 6px;
  position: absolute;
}

.bx1:hover{
  background: linear-gradient(to bottom, #384573, #4d5e99);
  box-shadow: 5px 5px 10px #151821;
}


.bx5{
  background: #1d2354;
  height: 460px;
  width: 1000px;
  margin-top: 1132px;
  margin-left: 20px;
  border-radius: 6px;
  position: absolute;
}

.bx5:hover{
  background: linear-gradient(to bottom, #384573, #4d5e99);
box-shadow: 5px 5px 10px #151821;

}

.linx{
  background: transparent;
  border-left: 3px dotted #d9cc3f;
  position: absolute;
  height: 15px;
  width: 100px;
  margin-top: 8px; margin-left: 110px;
}

.hd{
  font-family: McLaren, cursive;
  color: #fff;
  font-size: 29px;
  padding: 4px;
  float: left;
  margin-left: 10px;

}

.hd1{
  font-family: McLaren, cursive;
  color: #fff;
  font-size: 18px;
  padding: 10px;
  margin-left: 10px;
  float: left;
  width: 127px;
  text-align: center;
  cursor: pointer;
  background: black;

}

.nots{
  position: absolute;
  color: black;
  font-size: 15px;
  margin-left: 80%;
  margin-top: -30px;
  font-family: McLaren, cursive;
}

.hd1:hover {
  background: linear-gradient(to top, #384573, #768edb);
  box-shadow: 2px 2px 10px #151821;
  border-radius: 5px;
}
.con{
  background: linear-gradient(to bottom,#141924,90%,#333436);
  height: 580px;
  width: 1010px;
  margin-top: 1200px;
  margin-left: 20px;
  position: absolute;
}
