*{
    margin: 0px;
    padding: 0px;;
}

.bd{
    font-family: Arial, Helvetica, sans-serif;
    position:absolute;
    background: #0a0030;
     background-repeat: no-repeat; background-attachment: fixed;
    height:648px;
    width:1280px;
    background-size: 1280px 630px;
    margin-top: 0px;
    margin-left: 0px;
}

.contain
{
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: red;
    background: linear-gradient(to bottom, #000000cc,70%,#282a9ccc,#000000cc);
    width: 200px;
    height: 400px;
    margin-top: 50px;
    margin-left: 105px;
    border-radius:15px;
}


.content-holder
{
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: lighter;
    letter-spacing: 2px;
    margin-top: 15%;
    padding: 50px;

}

.content-holder h2
{
    font-size: 34px;
    margin: 20px auto;
}

.content-holder p
{
    margin: 30px auto;
}

.content-holder button
{
    border:none;
    font-size: 15px;
    padding: 10px;
    border-radius: 6px;
    background-color: white;
    width: 150px;
    margin: 20px auto;
}


.box-2{
    background: linear-gradient(to bottom, #0000005c,#546dd65c);
    margin: 5px;
    border-radius: 0px;
    width: 800px;
    height: 400px;
    margin-top:0px;

}

.login-form-container
{
    text-align: center;
    margin-top: 5%;
    float:left;
    width: 400px;
    height: 340px;
    display: block;
    background: transparent;
    border-right: 1.5px dotted white;
}

.login-form-container h1
{
    color: black;
    font-size: 24px;
    padding: 20px;
    font-family: inherit;
}

.input-field
{
    box-sizing: border-box;
    font-size: 14px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid rgb(168, 168, 168);
    width: 250px;
    outline: none;
}

.login-button{
    box-sizing: border-box;
    color: white;
    font-size: 17px;
    padding: 13px;
    border-radius: 22px;
    border: none;
    width: 250px;
    outline: none;
    font-weight: bold;

    background: linear-gradient(to bottom,#5e6ed6, 80%,#0b1a80);
}

.continue{
  font-weight: bold;
 background: linear-gradient(to bottom,#2ab580, 90%,#000);
 color: white;
 border: none;
}

.continue:hover{
  cursor: pointer;
  box-shadow: 6px 6px 20px black;
}

.login-button:hover{
  cursor:pointer;
  box-shadow: 5px 5px 15px #000;
}

.button-2
{
    display: block;
}


.signup-form-container
{
    position: absolute;

    text-align: center;
    display: block;
    background: transparent;
    width: 450px;
    height: 340px;
    margin-left: 360px;
    margin-top: -20px;
}


.signup-form-container h1
{
    color: white;
    font-size: 24px;
    padding: 20px;
    font-family: inherit;

}

.signup-button{
    box-sizing: border-box;
    color: white;
    font-size: 17px;
    padding: 13px;
    border-radius: 22px;
    border: none;
    width: 250px;
    outline: none;
    font-weight: bold;
    background: linear-gradient(to bottom,#5e6ed6,80%,#0b1a80);
}

.signup-button:hover{
  cursor:pointer;
  box-shadow: 2px 2px 15px #000;
}
