.bodypr{
  background: #03214d;  align-items: center;
position: fixed;
height: 100%;
width: 82.3%;
margin-left: 0px;
margin-top: 0px;

 }
  .containerprof{
    background: #c5c5d6;
    height: 500px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
  .avbox{
    background: white;
    border-radius: 10px;
    margin: 7px;
    height: 80%;
    width: 48%;
    display: inline-block;
    float:left;
    align-items: flex-end;
  }
  .photo{
    margin: 60px;
    border: 1px solid #a9b0b0;
    height: 250px;
    width: 250px;
    margin-bottom: 30px;
  }

  .ups:hover{
    cursor: pointer;
    box-shadow: 3px 3px 10px #4e5763;
  }
  .subs:hover{
    cursor: pointer;
    box-shadow: 3px 3px 10px #4e5763;
  }
  h4{
    font-family: arial, cursive;
    color: #5b6778;
          }
