@import url('https://fonts.googleapis.com/css2?family=McLaren&display=swap');
@import url( "https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Permanent+Marker&family=Staatliches&display=swap");
.container {
  position: relative;
  left: 230px;
  top: 200px;
  width: 480px;
  height: 230px;
}


.body {
  text-align: center;
  color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('../images/start.jpg');
  background-repeat: no-repeat;  background-attachment: fixed;
  height:610px;
  width:1280px;
  background-size: 1280px 610px;

}


:root {
    --color-chevron: #dd5fbe;
    --color-mug: white;
    --color-coffee: linear-gradient(to bottom, #fff,#e6d87e,#d1b91f, #061729);
    --color-round: #1a1a1a;
}


.glow {
    position: relative;

  font-size: 17px;
  -webkit-text-stroke: 4px transparent;
  color: #fff;
    font-family: McLaren;
  text-align: center;
  animation: glow 1.5s ease-in-out infinite alternate;
        font-weight: 550;
}

h3{
  font-family: Mclaren, cursive;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #bdddff, 0 0 20px #ffdd00, 0 0 30px #d1b91f, 0 0 40px #d1b91f, 0 0 50px #e6d87e, 0 0 60px #e6d87e, 0 0 70px #786906;
  }
  to {
    text-shadow: 0 0 20px #bdddff, 0 0 30px #786906, 0 0 40px #d1b91f, 0 0 50px #ffdd00, 0 0 60px #786906, 0 0 70px #01101f, 0 0 80px #fff;
  }
}

.scale{
    transform: scale(1.5);
}
.mugContainer{
        display: flex;
        height: 100px;
        width: 110px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    position: relative;
}

h1{
  font-family: "Permanent Marker";
  width:200px;
  margin-left: -40px;
  position: absolute;
    color: white;   align-content: center;
    left: 345px;  top: 100px;
}

.mug {
  position: absolute;
  width: 40px;
  height: 45px;
  border-radius: 0 0 15px 15px;
  border-left: 5px solid var(--color-mug);
  border-bottom: 5px solid var(--color-mug);
  border-right: 5px solid var(--color-mug);
  background: var(--color-round);


}

.coffee{
  position: absolute;
  left: 2px;
  right: 2px;
  bottom: 2px;
  margin: 2px;
  background: var(--color-coffee);
  border-radius: 0 0 6px 6px;
  animation: coffee 3s ease-in-out infinite alternate-reverse;
}

.handle{

top: 7px;
    left:39px;
width: 12px;
height: 16px;
    border: 5px solid var(--color-mug);
 position: absolute;
 border-bottom-right-radius: 12px;
 border-top-right-radius: 12px;
  border-left-color: transparent;



}

.mug::after{
  content: '';
  position: absolute;
  right: calc(-100% + 20px);
  z-index: -1;
}

@keyframes coffee {
  from {
    top: calc(100% - 45px);
  }

  to {
    top: calc(100% - 7px);
  }

}
