@import url('https://fonts.googleapis.com/css2?family=McLaren&display=swap');


.type{
  color: #fff;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 7s steps(30, end),
    blink-caret 0.5s step-end infinite;
 animation-delay: 2s;
 opacity:0;
 margin-left: 410px;
 margin-top: 30px;
 font-size: 60px;
 font-family: McLaren, cursive;
 position: absolute;

 animation-iteration-count: infinite;


}

.type1{
  color: #fff;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing1 7s steps(30, end),
    blink-caret1 0.5s step-end infinite;
 animation-delay: 2s;
 opacity:0;
 position: absolute;
 margin-left: 360px;
 margin-top: 250px;
 font-size: 20px;
 font-family: McLaren, cursive;

 animation-iteration-count: infinite;


}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 490px;}}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white }
}

@keyframes typing1 {
  from { width: 0 }
  to { width: 590px;}}

/* The typewriter cursor effect */
@keyframes blink-caret1 {
  from, to { border-color: transparent }
  50% { border-color: white }
}
