<html>
<head runat="server">

    <title>Email TO HabitAble SUPPORT TEAM</title>

    <script language="javascript">

    function TriggerOutlook()

    {

        var body = escape(window.document.title + String.fromCharCode(13));

        var subject = "DO SEND US YOUR FEED BACK!";
        window.location.href = "mailto:a.habitable_team@yahoo.com?body="+body+"&subject="+subject;

            }

    </script>

</head>

<body>

    <form id="form1" runat="server">

    <div>

        <a href="#" onclick="TriggerOutlook()">Email this Codesnippet</a>

    </div>

    </form>

</body>

</html>
